# Ignore list for Eagle, a PCB layout tool

# Backup files
*.s#?
*.b#?
*.l#?

# Eagle project file
# It contains a serial number and references to the file structure
# on your computer.
# comment the following line if you want to have your project file included.
#eagle.epf

# CAM files
*.$$$
*.cmp
*.ly2
*.l15
*.sol
*.plc
*.stc
*.sts
*.crc
*.crs

*.dri
*.drl
*.gpi
*.pls

*.drd
*.drd.*

*.info

*.eps


# project files
05_doc/TDK/

05_doc/SZAKDOLGOZAT/

02_pcb/mouse_codename/\.DS_Store

*.epf

02_pcb/\.DS_Store

02_pcb/mouse_codename/JDY-10_STANDING\.obj

03_software/embedded_sw_SPL_C/doc/html/

03_software/embedded_sw_SPL_C/doc/latex/*.tex
03_software/embedded_sw_SPL_C/doc/latex/*.toc
03_software/embedded_sw_SPL_C/doc/latex/*.tex
03_software/embedded_sw_SPL_C/doc/latex/*.aux
03_software/embedded_sw_SPL_C/doc/latex/*.md5
03_software/embedded_sw_SPL_C/doc/latex/*.sty
03_software/embedded_sw_SPL_C/doc/latex/*.out
03_software/embedded_sw_SPL_C/doc/latex/*.ind
03_software/embedded_sw_SPL_C/doc/latex/*.log
03_software/embedded_sw_SPL_C/doc/latex/*.idx
03_software/embedded_sw_SPL_C/doc/latex/*.ilg

03_software/embedded_sw_SPL_C/doc/latex/system__stm32f4xx_8c__incl\.pdf

03_software/embedded_sw_SPL_C/doc/latex/stm32f4xx__it_8c__incl\.pdf

03_software/embedded_sw_SPL_C/doc/latex/main_8c__incl\.pdf

03_software/embedded_sw_SPL_C/doc/latex/group__CMSIS\.pdf

03_software/embedded_sw_SPL_C/doc/latex/group__STM32F4xx__System__Private__Defines\.pdf

03_software/embedded_sw_SPL_C/doc/latex/group__STM32F4xx__System__Private__FunctionPrototypes\.pdf

03_software/embedded_sw_SPL_C/doc/latex/group__STM32F4xx__System__Private__Functions\.pdf

03_software/embedded_sw_SPL_C/doc/latex/group__STM32F4xx__System__Private__Includes\.pdf

03_software/embedded_sw_SPL_C/doc/latex/group__STM32F4xx__System__Private__Macros\.pdf

03_software/embedded_sw_SPL_C/doc/latex/group__STM32F4xx__System__Private__TypesDefinitions\.pdf

03_software/embedded_sw_SPL_C/doc/latex/group__STM32F4xx__System__Private__Variables\.pdf

03_software/embedded_sw_SPL_C/doc/latex/group__stm32f4xx__system\.pdf

03_software/embedded_sw_SPL_C/\.settings/com\.atollic\.truestudio\.tsp\.prefs

03_software/embedded_sw_SPL_C/\.settings/org\.eclipse\.cdt\.codan\.core\.prefs

03_software/embedded_sw_SPL_C/\.settings/language\.settings\.xml

03_software/embedded_sw_SPL_C/Debug_STM32F407VG_FLASH\.ld

03_software/embedded_sw_SPL_C/\.settings/com\.atollic\.truestudio\.debug\.hardware_device\.prefs

03_software/embedded_sw_SPL_C/micromouse2019_embedded_software_SPL_C\.elf\.launch

03_software/embedded_sw_SPL_C/Debug_STM32F415RG_FLASH\.ld

#03_software/embedded_sw_SPL_C/\.cproject

03_software/bootloader/Debug/*

*.o
*.obj

03_software/bootloader/\.settings/language\.settings\.xml

#03_software/bootloader/\.cproject

03_software/embedded_sw_SPL_C/Debug_STM32F415RG_FLASH_2\.ld
