# Ignore list for Eagle, a PCB layout tool

# Backup files
*.s#?
*.b#?
*.l#?

# Eagle project file
# It contains a serial number and references to the file structure
# on your computer.
# comment the following line if you want to have your project file included.
#eagle.epf

# CAM files
*.$$$
*.cmp
*.ly2
*.l15
*.sol
*.plc
*.stc
*.sts
*.crc
*.crs

*.dri
*.drl
*.gpi
*.pls

*.drd
*.drd.*

*.info

*.eps


# project files
05_doc/TDK/

05_doc/SZAKDOLGOZAT/

02_pcb/mouse_codename/\.DS_Store

*.epf

02_pcb/\.DS_Store

02_pcb/mouse_codename/JDY-10_STANDING\.obj

03_software/embedded_sw_SPL_C/doc/html/

03_software/embedded_sw_SPL_C/doc/latex/*.tex
03_software/embedded_sw_SPL_C/doc/latex/*.toc
03_software/embedded_sw_SPL_C/doc/latex/*.tex
03_software/embedded_sw_SPL_C/doc/latex/*.aux
03_software/embedded_sw_SPL_C/doc/latex/*.md5
03_software/embedded_sw_SPL_C/doc/latex/*.sty
03_software/embedded_sw_SPL_C/doc/latex/*.out
03_software/embedded_sw_SPL_C/doc/latex/*.ind
03_software/embedded_sw_SPL_C/doc/latex/*.log
03_software/embedded_sw_SPL_C/doc/latex/*.idx
03_software/embedded_sw_SPL_C/doc/latex/*.ilg

03_software/embedded_sw_SPL_C/doc/latex/system__stm32f4xx_8c__incl\.pdf

03_software/embedded_sw_SPL_C/doc/latex/stm32f4xx__it_8c__incl\.pdf

03_software/embedded_sw_SPL_C/doc/latex/main_8c__incl\.pdf

03_software/embedded_sw_SPL_C/doc/latex/group__CMSIS\.pdf

03_software/embedded_sw_SPL_C/doc/latex/group__STM32F4xx__System__Private__Defines\.pdf

03_software/embedded_sw_SPL_C/doc/latex/group__STM32F4xx__System__Private__FunctionPrototypes\.pdf

03_software/embedded_sw_SPL_C/doc/latex/group__STM32F4xx__System__Private__Functions\.pdf

03_software/embedded_sw_SPL_C/doc/latex/group__STM32F4xx__System__Private__Includes\.pdf

03_software/embedded_sw_SPL_C/doc/latex/group__STM32F4xx__System__Private__Macros\.pdf

03_software/embedded_sw_SPL_C/doc/latex/group__STM32F4xx__System__Private__TypesDefinitions\.pdf

03_software/embedded_sw_SPL_C/doc/latex/group__STM32F4xx__System__Private__Variables\.pdf

03_software/embedded_sw_SPL_C/doc/latex/group__stm32f4xx__system\.pdf

03_software/embedded_sw_SPL_C/\.settings/com\.atollic\.truestudio\.tsp\.prefs

03_software/embedded_sw_SPL_C/\.settings/org\.eclipse\.cdt\.codan\.core\.prefs

03_software/embedded_sw_SPL_C/\.settings/language\.settings\.xml

03_software/embedded_sw_SPL_C/Debug_STM32F407VG_FLASH\.ld

03_software/embedded_sw_SPL_C/\.settings/com\.atollic\.truestudio\.debug\.hardware_device\.prefs

03_software/embedded_sw_SPL_C/micromouse2019_embedded_software_SPL_C\.elf\.launch

03_software/embedded_sw_SPL_C/Debug_STM32F415RG_FLASH\.ld

#03_software/embedded_sw_SPL_C/\.cproject

03_software/bootloader/Debug/*

*.o
*.obj

03_software/bootloader/\.settings/language\.settings\.xml

#03_software/bootloader/\.cproject

03_software/embedded_sw_SPL_C/Debug_STM32F415RG_FLASH_2\.ld

03_software/bootloader/Debug/

03_software/\.metadata/\.lock

03_software/\.metadata/\.log

03_software/\.metadata/\.mylyn/repositories\.xml\.zip

03_software/\.metadata/\.plugins/com\.atollic\.truestudio\.pro\.arm\.doc/9\.3\.0

03_software/\.metadata/\.plugins/com\.atollic\.truestudio\.productmanager/9\.3\.0

03_software/\.metadata/\.plugins/org\.eclipse\.cdt\.core/\.log

03_software/\.metadata/\.plugins/org\.eclipse\.cdt\.core/bootloader\.1564947296996\.pdom

03_software/\.metadata/\.plugins/org\.eclipse\.cdt\.core/bootloader\.language\.settings\.xml

03_software/\.metadata/\.plugins/org\.eclipse\.cdt\.core/embedded_sw_SPL_C\.1564947296941\.pdom

03_software/\.metadata/\.plugins/org\.eclipse\.cdt\.core/embedded_sw_SPL_C\.language\.settings\.xml

03_software/\.metadata/\.plugins/org\.eclipse\.cdt\.make\.core/specs\.c

03_software/\.metadata/\.plugins/org\.eclipse\.cdt\.make\.core/specs\.cpp

03_software/\.metadata/\.plugins/org\.eclipse\.cdt\.managedbuilder\.core/buildState/embedded_sw_SPL_C/1470960672

03_software/\.metadata/\.plugins/org\.eclipse\.cdt\.managedbuilder\.core/buildState/embedded_sw_SPL_C/embedded_sw_SPL_C

03_software/\.metadata/\.plugins/org\.eclipse\.cdt\.managedbuilder\.core/spec\.c

03_software/\.metadata/\.plugins/org\.eclipse\.cdt\.ui/embedded_sw_SPL_C\.build\.log

03_software/\.metadata/\.plugins/org\.eclipse\.cdt\.ui/global-build\.log

03_software/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.projects/bootloader/\.indexes/properties\.index

03_software/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.projects/bootloader/\.markers\.snap

03_software/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.projects/bootloader/\.syncinfo\.snap

03_software/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.projects/bootloader/org\.eclipse\.egit\.core/GitProjectData\.properties

03_software/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.projects/embedded_sw_SPL_C/\.indexes/properties\.index

03_software/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.projects/embedded_sw_SPL_C/\.markers\.snap

03_software/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.projects/embedded_sw_SPL_C/\.syncinfo\.snap

03_software/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.projects/embedded_sw_SPL_C/org\.eclipse\.egit\.core/GitProjectData\.properties

03_software/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.root/\.indexes/properties\.index

03_software/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.root/\.markers\.snap

03_software/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.safetable/org\.eclipse\.core\.resources

03_software/\.metadata/\.plugins/org\.eclipse\.core\.resources/0\.snap

03_software/\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.cdt\.core\.prj-bootloader\.prefs

03_software/\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.cdt\.core\.prj-embedded_sw_SPL_C\.prefs

03_software/\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.cdt\.debug\.core\.prefs

03_software/\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.cdt\.managedbuilder\.core\.prefs

03_software/\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.core\.resources\.prefs

03_software/\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.debug\.core\.prefs

03_software/\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.debug\.ui\.prefs

03_software/\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.egit\.core\.prefs

03_software/\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.mylyn\.context\.core\.prefs

03_software/\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.mylyn\.monitor\.ui\.prefs

03_software/\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.mylyn\.tasks\.ui\.prefs

03_software/\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.team\.svn\.ui\.prefs

03_software/\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.ui\.ide\.prefs

03_software/\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.ui\.prefs

03_software/\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.ui\.workbench\.prefs

03_software/\.metadata/\.plugins/org\.eclipse\.e4\.workbench/workbench\.xmi

03_software/\.metadata/\.plugins/org\.eclipse\.recommenders\.news\.impl/downloads/http%3A%2F%2Fsumba\.atollic\.com%2Frss%2Ftrueperspectives\.xml

03_software/\.metadata/\.plugins/org\.eclipse\.ui\.workbench/workingsets\.xml

03_software/\.metadata/version\.ini

03_software/embedded_sw_SPL_C/\.metadata/\.lock

03_software/embedded_sw_SPL_C/\.metadata/\.log

03_software/embedded_sw_SPL_C/\.metadata/\.mylyn/repositories\.xml\.zip

03_software/embedded_sw_SPL_C/\.metadata/\.plugins/com\.atollic\.truestudio\.pro\.arm\.doc/9\.3\.0

03_software/embedded_sw_SPL_C/\.metadata/\.plugins/com\.atollic\.truestudio\.productmanager/9\.3\.0

03_software/embedded_sw_SPL_C/\.metadata/\.plugins/com\.itsolut\.mantis\.core/repositoryConfigurations

03_software/embedded_sw_SPL_C/\.metadata/\.plugins/org\.eclipse\.cdt\.core/\.log

03_software/embedded_sw_SPL_C/\.metadata/\.plugins/org\.eclipse\.cdt\.core/Boot\.1564947235396\.pdom

03_software/embedded_sw_SPL_C/\.metadata/\.plugins/org\.eclipse\.cdt\.core/Boot\.language\.settings\.xml

03_software/embedded_sw_SPL_C/\.metadata/\.plugins/org\.eclipse\.cdt\.make\.core/specs\.c

03_software/embedded_sw_SPL_C/\.metadata/\.plugins/org\.eclipse\.cdt\.make\.core/specs\.cpp

03_software/embedded_sw_SPL_C/\.metadata/\.plugins/org\.eclipse\.cdt\.managedbuilder\.core/spec\.c

03_software/embedded_sw_SPL_C/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.projects/Boot/\.indexes/properties\.index

03_software/embedded_sw_SPL_C/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.projects/Boot/\.location

03_software/embedded_sw_SPL_C/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.projects/Boot/\.markers

03_software/embedded_sw_SPL_C/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.projects/Boot/org\.eclipse\.egit\.core/GitProjectData\.properties

03_software/embedded_sw_SPL_C/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.root/\.indexes/history\.version

03_software/embedded_sw_SPL_C/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.root/\.indexes/properties\.index

03_software/embedded_sw_SPL_C/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.root/\.indexes/properties\.version

03_software/embedded_sw_SPL_C/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.root/2\.tree

03_software/embedded_sw_SPL_C/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.safetable/org\.eclipse\.core\.resources

03_software/embedded_sw_SPL_C/\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.cdt\.core\.prj-Boot\.prefs

03_software/embedded_sw_SPL_C/\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.cdt\.debug\.core\.prefs

03_software/embedded_sw_SPL_C/\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.cdt\.ui\.prefs

03_software/embedded_sw_SPL_C/\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.core\.resources\.prefs

03_software/embedded_sw_SPL_C/\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.debug\.core\.prefs

03_software/embedded_sw_SPL_C/\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.debug\.ui\.prefs

03_software/embedded_sw_SPL_C/\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.egit\.core\.prefs

03_software/embedded_sw_SPL_C/\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.mylyn\.context\.core\.prefs

03_software/embedded_sw_SPL_C/\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.mylyn\.monitor\.ui\.prefs

03_software/embedded_sw_SPL_C/\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.mylyn\.tasks\.ui\.prefs

03_software/embedded_sw_SPL_C/\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.team\.svn\.core\.prefs

03_software/embedded_sw_SPL_C/\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.team\.svn\.ui\.prefs

03_software/embedded_sw_SPL_C/\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.team\.ui\.prefs

03_software/embedded_sw_SPL_C/\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.ui\.ide\.prefs

03_software/embedded_sw_SPL_C/\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.ui\.prefs

03_software/embedded_sw_SPL_C/\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.ui\.workbench\.prefs

03_software/embedded_sw_SPL_C/\.metadata/\.plugins/org\.eclipse\.e4\.workbench/workbench\.xmi

03_software/embedded_sw_SPL_C/\.metadata/\.plugins/org\.eclipse\.mylyn\.trac\.core/repositoryConfigurations

03_software/embedded_sw_SPL_C/\.metadata/\.plugins/org\.eclipse\.ui\.ide/dialog_settings\.xml

03_software/embedded_sw_SPL_C/\.metadata/\.plugins/org\.eclipse\.ui\.workbench/dialog_settings\.xml

03_software/embedded_sw_SPL_C/\.metadata/\.plugins/org\.eclipse\.ui\.workbench/workingsets\.xml

03_software/embedded_sw_SPL_C/\.metadata/version\.ini

03_software/\.metadata/\.plugins/edu\.hawaii\.ics\.csdl\.jupiter/preference\.xml

03_software/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/1b/a0c216e9f0b600191f5cc5ed5f958ef4

03_software/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/30/d08f62e1f0b600191f5cc5ed5f958ef4

03_software/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/3f/10dd89f5f0b600191f5cc5ed5f958ef4

03_software/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/65/30fb93cbf0b600191f5cc5ed5f958ef4

03_software/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/8f/10efcee9f0b600191f5cc5ed5f958ef4

03_software/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/9a/20e4dfb0f0b600191f5cc5ed5f958ef4

03_software/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/aa/e00aa7fdf0b600191f5cc5ed5f958ef4

03_software/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/bc/406a5aedb5b700191f5cc5ed5f958ef4

03_software/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/c7/20045e26f1b600191f5cc5ed5f958ef4

03_software/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/f1/00a29fabb5b700191f5cc5ed5f958ef4

03_software/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.projects/embedded_sw_SPL_C/\.indexes/85/de/history\.index

03_software/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.projects/embedded_sw_SPL_C/\.indexes/85/de/properties\.index

03_software/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.projects/embedded_sw_SPL_C/\.indexes/85/e4/history\.index

03_software/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.projects/embedded_sw_SPL_C/\.indexes/85/e4/properties\.index

03_software/\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.cdt\.ui\.prefs

03_software/\.metadata/\.plugins/org\.eclipse\.linuxtools\.cdt\.libhover/C/glibc_library\.libhover

03_software/\.metadata/\.plugins/org\.eclipse\.linuxtools\.cdt\.libhover/C/newlib_library\.libhover

03_software/embedded_sw_SPL_C/\.cproject

03_software/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/1d/a0119959b8b700191f5cc5ed5f958ef4

03_software/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/27/e098f088bab700191f5cc5ed5f958ef4

03_software/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/2b/206c6e84bab700191f5cc5ed5f958ef4

03_software/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/2f/40447de6bab700191f5cc5ed5f958ef4

03_software/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/2f/602186c9c2b700191f5cc5ed5f958ef4

03_software/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/3d/d09393dcbab700191f5cc5ed5f958ef4

03_software/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/44/70ea270ac1b700191f5cc5ed5f958ef4

03_software/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/54/409b44e057bc00191f5cc5ed5f958ef4

03_software/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/54/50e236bcc3b700191f5cc5ed5f958ef4

03_software/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/58/b0044c54c1b700191f5cc5ed5f958ef4

03_software/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/5c/c0ad9e32beb700191f5cc5ed5f958ef4

03_software/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/6/40b5e53abfb700191f5cc5ed5f958ef4

03_software/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/68/c09096f5c0b700191f5cc5ed5f958ef4

03_software/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/6e/a03701cfc3b700191f5cc5ed5f958ef4

03_software/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/79/302478feb9b700191f5cc5ed5f958ef4

03_software/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/7a/203828f8c0b700191f5cc5ed5f958ef4

03_software/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/86/30334185bfb700191f5cc5ed5f958ef4

03_software/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/93/505294f8beb700191f5cc5ed5f958ef4

03_software/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/94/50bf368dc0b700191f5cc5ed5f958ef4

03_software/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/9e/5002dfe9b9b700191f5cc5ed5f958ef4

03_software/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/ab/70c7fdcfc0b700191f5cc5ed5f958ef4

03_software/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/ac/60fb5c70bbb700191f5cc5ed5f958ef4

03_software/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/b6/10032cedbcb700191f5cc5ed5f958ef4

03_software/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/b7/404e5922c1b700191f5cc5ed5f958ef4

03_software/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/c4/20629d0dc1b700191f5cc5ed5f958ef4

03_software/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/d/009ff1e6bcb700191f5cc5ed5f958ef4

03_software/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/d1/a0540f41b8b700191f5cc5ed5f958ef4

03_software/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/d6/80332247b8b700191f5cc5ed5f958ef4

03_software/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/dc/c0a6cd07c1b700191f5cc5ed5f958ef4

03_software/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/e5/60ba0805c1b700191f5cc5ed5f958ef4

03_software/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/ec/70943d57c3b700191f5cc5ed5f958ef4

03_software/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/ed/c0f8d3e1c0b700191f5cc5ed5f958ef4

03_software/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.history/fe/400e6947bdb700191f5cc5ed5f958ef4

03_software/\.metadata/\.plugins/org\.eclipse\.core\.resources/\.projects/embedded_sw_SPL_C/\.indexes/e4/history\.index

03_software/\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/org\.eclipse\.launchbar\.core\.prefs

03_software/\.metadata/\.plugins/org\.eclipse\.debug\.ui/launchConfigurationHistory\.xml

03_software/embedded_sw_SPL_C/embedded_sw_SPL_C\.elf\.launch
